@media screen and (max-width: 768px) {
  body {
    background-color: #323E52;
    border: 1px solid #A2B3BE; }

  div.dropdown {
    margin-top: -30%;
    margin-bottom: -2%; }
    div.dropdown button {
      background-color: #323E52;
      color: #F5F6F7;
      font-size: 10px; }

  .dropdown-menu {
    background-color: white; }
    .dropdown-menu .dropdown-item {
      color: #323E52; }

  div.section0 {
    font-size: 12px;
    font-style: italic;
    text-align: justify;
    color: #323E52;
    margin-left: 2.5%;
    margin-right: 7.5%;
    margin-bottom: 1%; }

  div.section {
    font-size: 11px;
    text-align: justify;
    color: #566773;
    margin-left: 2.5%;
    margin-right: 7.5%;
    margin-bottom: 1%; }

  div.sectioncol0 {
    font-size: 11px;
    text-align: justify;
    color: #566773;
    margin-left: 6%; }

  div.sectioncol1 {
    font-size: 11px;
    text-align: justify;
    color: #566773;
    margin-left: -60%; }

  div.sectioncol2 {
    font-size: 11px;
    text-align: justify;
    color: #566773;
    margin-left: -4.5%; }

  div.sectioncol3 {
    font-size: 11px;
    text-align: justify;
    color: #566773;
    margin-left: -70%; }

  div#Welcome {
    color: #F5F6F7;
    margin-bottom: -15%;
    margin-left: 5%;
    margin-right: 5%; }
    div#Welcome h1 {
      text-align: center;
      font-size: 24px; }
    div#Welcome p {
      color: #E3A855;
      font-size: 16px;
      text-align: justify;
      margin-top: 5%; }

  div#Name .visible {
    background-color: #323E52;
    height: auto;
    margin-left: -20%;
    margin-right: -20%;
    margin-bottom: -5%;
    margin-top: -5%;
    border: 3px solid #323E52; }
  div#Name h1 {
    color: #F5F6F7;
    text-align: center;
    font-size: 24px; }
  div#Name h3 {
    color: lightgray;
    text-align: center;
    font-size: 13px; }

  div#Photo {
    display: none; }

  div#Introduction {
    background-color: #E55E63;
    padding: 1%;
    font-size: 16px;
    margin: 10%;
    margin-top: -10%; }
    div#Introduction p {
      text-align: justify;
      margin: 2.5%;
      color: #F5F6F7; }
    div#Introduction table {
      display: none; }
    div#Introduction th {
      color: #E55E63;
      background-color: white;
      text-align: center;
      padding: 4px; }
    div#Introduction td {
      background-color: white;
      color: #A2B3BE;
      text-align: center;
      padding: 4px; }

  div#Experience, div#Education, div#Courses, div#Languages, div#Vol, div#Achievements {
    background-color: #F2F2F2;
    padding: 1%; }
    div#Experience ul, div#Education ul, div#Courses ul, div#Languages ul, div#Vol ul, div#Achievements ul {
      margin-left: 2.5%;
      color: #323E52;
      font-size: 12px; }
    div#Experience h2, div#Education h2, div#Courses h2, div#Languages h2, div#Vol h2, div#Achievements h2 {
      color: #323E52;
      font-size: 24px;
      text-align: center;
      text-decoration: overline;
      background-color: #A2B3BE;
      padding: 1%;
      margin-top: -1.2%;
      margin-right: -1.1%;
      margin-left: -6.2%; }
    div#Experience h4, div#Education h4, div#Courses h4, div#Languages h4, div#Vol h4, div#Achievements h4 {
      color: #E3A855;
      font-style: italic;
      font-size: 16px;
      padding: 2px; }
    div#Experience h6, div#Education h6, div#Courses h6, div#Languages h6, div#Vol h6, div#Achievements h6 {
      color: #A2B3BE;
      font-style: oblique;
      font-size: 9px;
      margin-top: -0.5%;
      margin-left: 0.5%; }
    div#Experience p, div#Education p, div#Courses p, div#Languages p, div#Vol p, div#Achievements p {
      text-align: justify;
      margin-right: 2.5%;
      margin-left: 2.5%;
      color: #323E52;
      font-size: 13px; }

  div#Feedback {
    background: #323E52;
    padding: 1%; }
    div#Feedback h2 {
      color: #E3A855;
      font-size: 24px;
      text-align: center;
      text-decoration: overline; }
    div#Feedback p {
      color: #F5F6F7;
      text-align: center; }
    div#Feedback form {
      padding: 2%;
      text-align: center; }
    div#Feedback button, div#Feedback input {
      font-size: 12px;
      color: #323E52; }
    div#Feedback button:hover {
      background-color: #A2B3BE;
      color: white; }
    div#Feedback p::selection {
      color: white;
      background-color: #A2B3BE; } }
@media screen and (max-width: 1439px) {
  div#Photo {
    display: none; }

  div#Name {
    background-color: #F5F6F7;
    height: auto;
    margin: 10%;
    border: 3px solid #A2B3BE; }

  div#Introduction {
    background-color: #E55E63;
    padding: 1%;
    font-size: 16px;
    margin: 10%;
    margin-top: -10%; } }
body {
  background-color: #323E52;
  border: 1px solid #A2B3BE; }

.dropdown {
  margin: 5%;
  margin-left: 12.5%;
  margin-top: -2%;
  margin-bottom: 3.8%; }
  .dropdown button {
    background-color: #323E52;
    color: #F5F6F7; }

.dropdown-menu {
  background-color: white; }
  .dropdown-menu .dropdown-item {
    color: #323E52; }

.section0 {
  font-size: 16px;
  font-style: italic;
  text-align: justify;
  color: #323E52;
  margin-left: 2.5%;
  margin-right: 7.5%;
  margin-bottom: 1%; }

.section1 {
  font-size: 15px;
  text-align: justify;
  color: #566773;
  margin-left: 2.5%;
  margin-right: 7.5%;
  margin-bottom: 1%; }

.section {
  font-size: 15px;
  text-align: justify;
  color: #566773;
  margin-left: 2.5%;
  margin-right: 7.5%;
  margin-bottom: 1%; }

.sectioncol0 {
  font-size: 15px;
  text-align: justify;
  color: #566773;
  margin-left: 7%; }

.sectioncol1 {
  font-size: 15px;
  text-align: justify;
  color: #566773;
  margin-left: -66.5%; }

.sectioncol2 {
  font-size: 15px;
  text-align: justify;
  color: #566773;
  margin-left: 3%; }

.sectioncol3 {
  font-size: 15px;
  text-align: justify;
  color: #566773;
  margin-left: -70%; }

#Welcome {
  color: white;
  margin-bottom: -7%; }
  #Welcome h1 {
    text-align: center;
    margin-bottom: 3%;
    margin-top: -1%; }
  #Welcome p {
    color: #E3A855;
    margin-bottom: 54px; }

#Name {
  background-color: #F5F6F7;
  margin-left: 385px;
  margin-right: 94px;
  font-size: 18px;
  height: 180px;
  padding: 1%; }
  #Name h1 {
    color: #A2B3BE;
    text-align: center;
    font-size: 48px; }
  #Name h2, #Name h3 {
    color: lightgray;
    text-align: center; }

#Photo {
  background-color: #E3A855;
  margin-left: 94px;
  margin-right: 1044px;
  margin-bottom: 148px;
  margin-top: -180px;
  height: 180px; }
  #Photo img {
    margin-left: 40%;
    height: 180px; }

#Introduction {
  background-color: #E55E63;
  margin-left: 84px;
  margin-right: 84px;
  margin-bottom: 94px;
  margin-top: -7.5%;
  padding: 1%;
  font-size: 18px; }
  #Introduction p {
    text-align: justify;
    margin: 2.5%;
    color: #F5F6F7; }
  #Introduction table {
    border-collapse: collapse;
    width: 95%;
    margin-left: 2.5%; }
  #Introduction th {
    color: #E55E63;
    background-color: white;
    text-align: center;
    padding: 4px; }
  #Introduction td {
    background-color: white;
    color: #A2B3BE;
    text-align: center;
    padding: 4px; }

#Experience {
  background-color: #F2F2F2;
  padding: 1%; }
  #Experience h2 {
    color: #323E52;
    font-size: 30px;
    text-align: center;
    text-decoration: overline;
    background-color: #A2B3BE;
    padding: 1%;
    margin-top: -1.2%;
    margin-right: -1.1%;
    margin-left: -6.2%; }
  #Experience h4 {
    color: #E3A855;
    font-style: italic;
    font-size: 20px;
    padding: 4px; }
  #Experience h6 {
    color: #A2B3BE;
    font-style: oblique;
    font-size: 14px;
    margin-top: -0.5%;
    margin-left: 0.5%; }
  #Experience p {
    text-align: justify;
    margin-right: 2.5%;
    margin-left: 2.5%;
    color: #323E52;
    font-size: 18px; }

#Education {
  background-color: #F2F2F2;
  padding: 1%; }
  #Education ul {
    margin-left: 2.5%;
    color: #566773; }
    #Education ul li {
      margin-bottom: 0.5%; }
  #Education h2 {
    color: #323E52;
    font-size: 30px;
    text-align: center;
    text-decoration: overline;
    background-color: #A2B3BE;
    padding: 1%;
    margin-top: -1.2%;
    margin-right: -1.1%;
    margin-left: -6.2%; }
  #Education h4 {
    color: #E3A855;
    font-style: italic;
    font-size: 20px;
    padding: 4px; }
  #Education h6 {
    color: #A2B3BE;
    font-style: oblique;
    font-size: 14px;
    margin-top: -0.5%;
    margin-left: 0.5%; }
  #Education p {
    text-align: justify;
    margin-right: 2.5%;
    margin-left: 2.5%;
    color: #323E52;
    font-size: 18px; }

#Courses {
  background-color: #F2F2F2;
  padding: 1%; }
  #Courses ul {
    margin-left: 2.5%;
    color: #323E52; }
  #Courses h2 {
    color: #323E52;
    font-size: 30px;
    text-align: center;
    text-decoration: overline;
    background-color: #A2B3BE;
    padding: 1%;
    margin-top: -1.2%;
    margin-right: -1.1%;
    margin-left: -6.2%; }
  #Courses h4 {
    color: #E3A855;
    font-style: italic;
    font-size: 20px;
    padding: 4px; }
  #Courses h6 {
    color: #A2B3BE;
    font-style: oblique;
    font-size: 14px;
    margin-top: -0.5%;
    margin-left: 0.5%; }
  #Courses p {
    text-align: justify;
    margin-right: 2.5%;
    margin-left: 2.5%;
    color: #323E52;
    font-size: 18px; }

#Languages {
  background-color: #F2F2F2;
  padding: 1%; }
  #Languages h2 {
    color: #323E52;
    font-size: 30px;
    text-align: center;
    text-decoration: overline;
    background-color: #A2B3BE;
    padding: 1%;
    margin-top: -1.2%;
    margin-right: -1.1%;
    margin-left: -6.2%; }
  #Languages h4 {
    color: #E3A855;
    font-style: italic;
    font-size: 20px;
    padding: 4px; }
  #Languages h6 {
    color: #A2B3BE;
    font-style: oblique;
    font-size: 14px;
    margin-top: -0.5%;
    margin-left: 0.5%; }
  #Languages p {
    text-align: justify;
    margin-right: 2.5%;
    margin-left: 2.5%;
    color: #323E52;
    font-size: 18px; }

#Vol {
  background-color: #F2F2F2;
  padding: 1%; }
  #Vol h2 {
    color: #323E52;
    font-size: 30px;
    text-align: center;
    text-decoration: overline;
    background-color: #A2B3BE;
    padding: 1%;
    margin-top: -1.2%;
    margin-right: -1.1%;
    margin-left: -6.2%; }
  #Vol h4 {
    color: #E3A855;
    font-style: italic;
    font-size: 20px;
    padding: 4px; }
  #Vol h6 {
    color: #A2B3BE;
    font-style: oblique;
    font-size: 14px;
    margin-top: -0.5%;
    margin-left: 0.5%; }
  #Vol p {
    text-align: justify;
    margin-right: 2.5%;
    margin-left: 2.5%;
    color: #323E52;
    font-size: 18px; }

#Skills {
  background-color: #F2F2F2;
  padding: 1%; }
  #Skills h2 {
    color: #323E52;
    font-size: 30px;
    text-align: center;
    text-decoration: overline;
    background-color: #A2B3BE;
    padding: 1%;
    margin-top: -1.2%;
    margin-right: -1.1%;
    margin-left: -6.2%; }
  #Skills h4 {
    color: #E3A855;
    font-style: italic;
    font-size: 20px;
    padding: 4px; }
  #Skills h6 {
    color: #A2B3BE;
    font-style: oblique;
    font-size: 14px;
    margin-top: -0.5%;
    margin-left: 0.5%; }
  #Skills p {
    text-align: justify;
    margin-right: 2.5%;
    margin-left: 2.5%;
    color: #323E52;
    font-size: 18px; }

#Achievements {
  background-color: #F2F2F2;
  padding: 1%; }
  #Achievements h2 {
    color: #323E52;
    font-size: 30px;
    text-align: center;
    text-decoration: overline;
    background-color: #A2B3BE;
    padding: 1%;
    margin-top: -1.2%;
    margin-right: -1.1%;
    margin-left: -6.2%; }
  #Achievements h4 {
    color: #E3A855;
    font-style: italic;
    font-size: 20px;
    padding: 4px; }
  #Achievements h6 {
    color: #A2B3BE;
    font-style: oblique;
    font-size: 14px;
    margin-top: -0.5%;
    margin-left: 0.5%; }
  #Achievements p {
    text-align: justify;
    margin-right: 2.5%;
    margin-left: 2.5%;
    color: #323E52;
    font-size: 18px; }

#Feedback {
  background: #323E52;
  padding: 1%; }
  #Feedback h2 {
    color: #E3A855;
    font-size: 30px;
    text-align: center;
    text-decoration: overline; }
  #Feedback p {
    color: #F5F6F7;
    text-align: center; }
  #Feedback form {
    padding: 2%;
    text-align: center; }
  #Feedback button, #Feedback input {
    font-size: 18px;
    color: #323E52; }
  #Feedback button:hover {
    background-color: #A2B3BE;
    color: white; }
  #Feedback p::selection {
    color: white;
    background-color: #A2B3BE; }

/*# sourceMappingURL=variables.css.map */
