
$color1: #F5F6F7;
$color2: #E3A855;
$color3: #A2B3BE;
$color4: #E55E63;
$color5: #323E52;

$azulclaro: #CCDEF0;
$graybase: #F2F2F2;

@media screen and (max-width: 768px) {
  body{
  background-color: $color5;
  border: 1px solid $color3;
  }

  div.dropdown{
    button{
      background-color: $color5;
      color:$color1;
      font-size: 14px;
    }
  }
  .dropdown-menu{
    background-color:white;
     .dropdown-item{
      color: $color5;
    }
  }
  div.section0{
    font-size: 12px;
    font-style: italic;
    text-align: justify;
    color: $color5;
    margin-left: 2.5%;
    margin-right: 7.5%;
    margin-bottom: 1%;
  }


  div.section{
    font-size: 11px;
    text-align: justify;
    color: #566773;
    margin-left: 2.5%;
    margin-right: 7.5%;
    margin-bottom: 1%;
  }

  div.sectioncol0{
    font-size: 11px;
    text-align: justify;
    color: #566773;
    margin-left: 6%;
  }
  div.sectioncol1{
    font-size: 11px;
    text-align: justify;
    color: #566773;
    margin-left: -60%;
  }
  div.sectioncol2{
    font-size: 11px;
    text-align: justify;
    color: #566773;
    margin-left: -4.5%;
  }
  div.sectioncol3{
    font-size: 11px;
    text-align: justify;
    color: #566773;
    margin-left: -70%;
  }

  div#Welcome{
    color: $color1;
    margin-bottom: -15%;
    margin-left: 5%;
    margin-right: 5%;

    h1{
      text-align: center;
      font-size: 24px;
    }
    p{
      color: $color2;
      font-size: 16px;
      text-align: justify;
      margin-top: 5%;
    }
  }

  div#Name{
    .visible{
      background-color:$color5;
      height: auto;
      margin-left: -20%;
      margin-right: -20%;
      margin-bottom: -5%;
      margin-top: -5%;
      border: 3px solid $color5;
    }
    h1{
        color: $color1;
        text-align: center;
        font-size: 26px;
        font-weight: bolder;
    }
    h2, h3{
        color: lightgray;
        text-align: center;
        font-size: 16px;

    }
}
  div#Photo{
    display: none;
  }

  div#Introduction{
    background-color: $color4;
    padding: 1%;
    font-size: 16px;
    margin: 10%;
    margin-top: -10%;

      p{
        text-align: justify;
        margin: 2.5%;
        color: $color1;
      }
      table {
          display: none;
      }
      th{
        color: $color4;
        background-color: white;
        text-align: center;
        padding: 4px;
      }
      td{
        background-color: white;
        color: $color3;
        text-align: center;
        padding: 4px;
    }
  }

  div#Experience, div#Education, div#Courses, div#Languages, div#Vol, div#Achievements{
    background-color: $graybase;
    padding: 1%;
    ul{
          margin-left: 2.5%;
          color: $color5;
          font-size: 12px;
        }
    h2{
      color: $color5;
      font-size: 24px;
      text-align: center;
      text-decoration: overline;
      background-color: $color3;
      padding: 1%;
      margin-top: -1.2%;
      margin-right: -1.1%;
      margin-left: -6.2%;

    }
    h4{
      color: $color2;
      font-style: italic;
      font-size: 16px;
      padding: 2px;
    }
    h6{
      color: $color3;
      font-style: oblique;
      font-size: 9px;
      margin-top: -0.5%;
      margin-left: 0.5%;
    }
    p{
      text-align: justify;
      margin-right: 2.5%;
      margin-left: 2.5%;
      color: $color5;
      font-size: 13px;
    }

  }

  div#Feedback{
    background: $color5;
    padding: 1%;

    h2{
      color: $color2;
      font-size: 24px;
      text-align: center;
      text-decoration: overline;
    }
    p{
      color: $color1;
      text-align: center;
    }
      form{
        padding: 2%;
        text-align:center;

      }

      button, input{
        font-size: 12px;
        color: $color5;

      }

      button:hover {
          background-color: $color3;
          color: white;
      }
      p::selection {
          color: white;
          background-color: $color3;
    }
  }


}
@media screen and (max-width: 1439px) {

  div#Photo{
    display: none;
  }
  div#Name{
    background-color: $color1;
    height: auto;
    margin: 10%;
    border: 3px solid $color3;
}
div#Introduction{
  background-color: $color4;
  padding: 1%;
  font-size: 16px;
  margin: 10%;
  margin-top: -10%;
}
}

body{
background-color: $color5;
border: 1px solid $color3;
}

.dropdown{
  margin: 5%;
  margin-left: 12.5%;
  margin-top: -2%;
  margin-bottom: 3.8%;
  button{
    background-color: $color5;
    color:$color1;
  }
}
.dropdown-menu{
  background-color:white;
   .dropdown-item{
    color: $color5;
  }
}
.section0{
  font-size: 16px;
  font-style: italic;
  text-align: justify;
  color: $color5;
  margin-left: 2.5%;
  margin-right: 7.5%;
  margin-bottom: 1%;
}
.section1{
  font-size: 15px;
  text-align: justify;
  color: #566773;
  margin-left: 2.5%;
  margin-right: 7.5%;
  margin-bottom: 1%;
}
.section{
  font-size: 15px;
  text-align: justify;
  color: #566773;
  margin-left: 2.5%;
  margin-right: 7.5%;
  margin-bottom: 1%;
}
.sectioncol0{
  font-size: 15px;
  text-align: justify;
  color: #566773;
  margin-left: 7%;
}
.sectioncol1{
  font-size: 15px;
  text-align: justify;
  color: #566773;
  margin-left: -66.5%;
}
.sectioncol2{
  font-size: 15px;
  text-align: justify;
  color: #566773;
  margin-left: 3%;
}
.sectioncol3{
  font-size: 15px;
  text-align: justify;
  color: #566773;
  margin-left: -70%;

}
#Welcome{
  color: white;
  margin-bottom: -7%;
  h1{
    text-align: center;
    margin-bottom: 3%;
    margin-top: -1%;
  }
  p{
    color: $color2;
    margin-bottom: 54px;
  }
}

#Name{
  background-color: $color1;
  margin-left: 385px;
  margin-right: 94px;
  font-size: 18px;
  height: 180px;
  padding: 1%;

  h1{
      color: $color3;
      text-align: center;
      font-size: 48px;
  }
  h2, h3 {
      color: lightgray;
      text-align: center;
  }
}

#Photo{
  background-color: $color2;
  margin-left: 94px;
  margin-right:1044px;
  margin-bottom: 148px;
  margin-top: -180px;
  height: 180px;

  img{
    margin-left: 40%;
    height: 180px;
}

}

#Introduction{
  background-color: $color4;
  margin-left: 84px;
  margin-right: 84px;
  margin-bottom: 94px;
  margin-top: -7.5%;
  padding: 1%;
  font-size: 18px;

    p{
      text-align: justify;
      margin: 2.5%;
      color: $color1;
    }
    table {
        border-collapse: collapse;
        width: 95%;
        margin-left: 2.5%;
    }
    th{
      color: $color4;
      background-color: white;
      text-align: center;
      padding: 4px;
    }
    td{
      background-color: white;
      color: $color3;
      text-align: center;
      padding: 4px;
  }
}

#Experience{
  background-color: $graybase;
  padding: 1%;


  h2{
    color: $color5;
    font-size: 30px;
    text-align: center;
    text-decoration: overline;
    background-color: $color3;
    padding: 1%;
    margin-top: -1.2%;
    margin-right: -1.1%;
    margin-left: -6.2%;

  }
  h4{
    color: $color2;
    font-style: italic;
    font-size: 20px;
    padding: 4px;
  }
  h6{
    color: $color3;
    font-style: oblique;
    font-size: 14px;
    margin-top: -0.5%;
    margin-left: 0.5%;
  }
  p{
    text-align: justify;
    margin-right: 2.5%;
    margin-left: 2.5%;
    color: $color5;
    font-size: 18px;
  }
}

#Education{
  background-color: $graybase;
  padding: 1%;

  ul{
        margin-left: 2.5%;
        color: #566773;
        li{
            margin-bottom: 0.5%;
        }
      }

  h2{
    color: $color5;
    font-size: 30px;
    text-align: center;
    text-decoration: overline;
    background-color: $color3;
    padding: 1%;
    margin-top: -1.2%;
    margin-right: -1.1%;
    margin-left: -6.2%;

  }
  h4{
    color: $color2;
    font-style: italic;
    font-size: 20px;
    padding: 4px;
  }
  h6{
    color: $color3;
    font-style: oblique;
    font-size: 14px;
    margin-top: -0.5%;
    margin-left: 0.5%;
  }
  p{
    text-align: justify;
    margin-right: 2.5%;
    margin-left: 2.5%;
    color: $color5;
    font-size: 18px;
  }
}

#Courses{
  background-color: $graybase;
  padding: 1%;

  ul{
        margin-left: 2.5%;

        color: $color5;
      }

  h2{
    color: $color5;
    font-size: 30px;
    text-align: center;
    text-decoration: overline;
    background-color: $color3;
    padding: 1%;
    margin-top: -1.2%;
    margin-right: -1.1%;
    margin-left: -6.2%;

  }
  h4{
    color: $color2;
    font-style: italic;
    font-size: 20px;
    padding: 4px;
  }
  h6{
    color: $color3;
    font-style: oblique;
    font-size: 14px;
    margin-top: -0.5%;
    margin-left: 0.5%;
  }
  p{
    text-align: justify;
    margin-right: 2.5%;
    margin-left: 2.5%;
    color: $color5;
    font-size: 18px;
  }
}


#Languages{
  background-color: $graybase;
  padding: 1%;

  h2{
    color: $color5;
    font-size: 30px;
    text-align: center;
    text-decoration: overline;
    background-color: $color3;
    padding: 1%;
    margin-top: -1.2%;
    margin-right: -1.1%;
    margin-left: -6.2%;

  }
  h4{
    color: $color2;
    font-style: italic;
    font-size: 20px;
    padding: 4px;
  }
  h6{
    color: $color3;
    font-style: oblique;
    font-size: 14px;
    margin-top: -0.5%;
    margin-left: 0.5%;
  }
  p{
    text-align: justify;
    margin-right: 2.5%;
    margin-left: 2.5%;
    color: $color5;
    font-size: 18px;
  }
}


#Vol{
  background-color: $graybase;
  padding: 1%;

  h2{
    color: $color5;
    font-size: 30px;
    text-align: center;
    text-decoration: overline;
    background-color: $color3;
    padding: 1%;
    margin-top: -1.2%;
    margin-right: -1.1%;
    margin-left: -6.2%;

  }
  h4{
    color: $color2;
    font-style: italic;
    font-size: 20px;
    padding: 4px;
  }
  h6{
    color: $color3;
    font-style: oblique;
    font-size: 14px;
    margin-top: -0.5%;
    margin-left: 0.5%;
  }
  p{
    text-align: justify;
    margin-right: 2.5%;
    margin-left: 2.5%;
    color: $color5;
    font-size: 18px;
  }
}


#Skills{
  background-color: $graybase;
  padding: 1%;

  h2{
    color: $color5;
    font-size: 30px;
    text-align: center;
    text-decoration: overline;
    background-color: $color3;
    padding: 1%;
    margin-top: -1.2%;
    margin-right: -1.1%;
    margin-left: -6.2%;

  }
  h4{
    color: $color2;
    font-style: italic;
    font-size: 20px;
    padding: 4px;
  }
  h6{
    color: $color3;
    font-style: oblique;
    font-size: 14px;
    margin-top: -0.5%;
    margin-left: 0.5%;
  }
  p{
    text-align: justify;
    margin-right: 2.5%;
    margin-left: 2.5%;
    color: $color5;
    font-size: 18px;
  }
}


#Achievements{
  background-color: $graybase;
  padding: 1%;

  h2{
    color: $color5;
    font-size: 30px;
    text-align: center;
    text-decoration: overline;
    background-color: $color3;
    padding: 1%;
    margin-top: -1.2%;
    margin-right: -1.1%;
    margin-left: -6.2%;

  }
  h4{
    color: $color2;
    font-style: italic;
    font-size: 20px;
    padding: 4px;
  }
  h6{
    color: $color3;
    font-style: oblique;
    font-size: 14px;
    margin-top: -0.5%;
    margin-left: 0.5%;
  }
  p{
    text-align: justify;
    margin-right: 2.5%;
    margin-left: 2.5%;
    color: $color5;
    font-size: 18px;
  }
}

#Feedback{
  background: $color5;
  padding: 1%;

  h2{
    color: $color2;
    font-size: 30px;
    text-align: center;
    text-decoration: overline;
  }
  p{
    color: $color1;
    text-align: center;
  }
    form{
      padding: 2%;
      text-align:center;

    }

    button, input{
      font-size: 18px;
      color: $color5;

    }

    button:hover {
        background-color: $color3;
        color: white;
    }
    p::selection {
        color: white;
        background-color: $color3;
  }
}
